
.container{
    background-color: rgb(68, 66, 66);
}

.logo-img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-img img{
    height: 280px;
    width: 100%;
}

.dish-detail{
    margin-top: 15px;
    margin-bottom: 15px;
}

.dish-detail img{
    height: 400px;
}

.dish-detail h1{
    text-align: center;
    color: rgb(235, 235, 76);
}

.dish-detail p{
    color: #fff;
    font-size: 14.7px;
}

.button-detail{
    margin-left: 45%;
}

.footer{
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-contacts{
    font-size: 18px;
    color: #fff;
}

.footer-links{
    text-align: center;
}


@media  screen and (max-width: 768px){
    .logo-img img{
        width: 100%;
        margin-bottom: 20px;    
    }

    .dish-detail img{
        height: 300px;
        width: 100%;
    }

    .dish-detail p{
        color: #fff;
        font-size: 20px;
    }
}