.header{
    background-color: rgb(255, 255, 67);
    text-align: center;
}

.header h1{
    display: block;
    font-size: 50px;
    padding-top: 30px;
}

.header nav a{
    background-color: #fff;
    display: inline-block;
    padding: 20px 15%;
    margin-left: 2%;
    margin-right:2%;
    border-radius: 50px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.content{
    padding-top: 20px;
}

#left, #right{
    width: 45%;
    display: inline-block;
    margin-left: 3%;
    float: left;
}

#para3{
    color: blue;
}

#right input[type="text"]{
    width: 250px;
}

#right input[type="password"]{
    width: 250px;
}


#right table{
    margin-top: 20px;
    margin-bottom: 30px;
}


.footer{
    clear: both;
    background-color:rgb(255, 255, 67);
    text-align: center;
    padding-top:70px;
    padding-bottom: 10px;
}

.footer p{
    text-transform: uppercase;
}

#para2{
    display: none;
}