.container{
    background-color: rgb(59, 56, 56);
}



.dishes{
    margin-top: 30px;
    text-align: center;
}

.dishes h1{
    color: yellow;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.dishes p{
    font-size: 18.5px;
    color: white;
    text-align: justify;
}

.dishes img{
    height: 100mm;
}

.footer{
    background-color: grey;
    border-top: 2px solid orange;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 17px;
    margin-top: 30px;
}

@media screen and (max-width: 992px) {
    .logo img{
        width: 100%;
        margin-bottom: 20px; 
        height: 300px;   
    }

    .dishes img{
        width: 100%;
    }

    .dishes h1{
        margin-top: 20px;
    }

    .dishes button{
        margin-bottom: 10px;
    }

}
